{# empty Twig template #}

{% extends '::base.html.twig' %}
{% block body %}

  {# S'il y a une erreur, on l'affiche dans un joli cadre #}
  {% if error %}
    <div class="alert alert-danger">{{ error.message }}</div>
  {% endif %}

  {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
  <div class="page">
        <div class="page-content">
            <h5>CFA INSTA</h5>
            <div class="formulaire">
                <div id="form_wrapper" class="form_wrapper">
                    <form class="login active" action="{{ path ('login_check') }}" method="post">
                        <h3>Login</h3>
                        <div>
                            <label>Utilisateur :</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" />
                        </div>
                        <div>
                            <label>Mot de passe:
                                <!--<a href="/MonProjetPhp/Planning/web/app_dev.php/mot_de_passe_perdu" rel="forgot_password" class="forgot linkform">
                                    Mot de passe oublié ?
                                </a>-->
                            </label>
                        <input type="password" id="password" name="_password" />
                        </div>
                        <div class="bottom">
                            <!--<div class="remember"><input type="checkbox" />
                                <span>Sauvegarder mon mot de passe</span>
                            </div>-->
                            <input type="submit" value="Connexion"></input>
                            <div class="clear"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
  </div>
{% endblock %}