{% extends '::base.html.twig' %}
{% block body %}

  {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
  <div class="page">
      <!--<label for="INSTA">CFA INSTA</label>-->
        <div class="page-content">
            <div class="formulaire">
                <div id="form_wrapper" class="form_wrapper">
                    <form class="forgot_password">
                        <h3>Mot de passe perdu</h3>
                        <div>
                            <label>Username ou Email:</label>
                            <input type="text" />
                        </div>
                        <div class="bottom">
                            <input type="submit" value="Send reminder"></input>
                            <a href="index.html" rel="login" class="linkform">
                                Suddenly remebered? Log in here
                            </a>
                        <div class="clear"></div>
                        </div>
                        </form>
                    </form>
                </div>
            </div>
        </div>
  </div>
{% endblock %}