{% extends '::base.html.twig' %}
{% block body %}
    <div class='page'>
        Hello {{ name }}!
        <table>
            <tr>
                <td colspan="9">M2 STL INSTA - EDT S3 - 2014-2015 (Du 15/09 au 07/11/2014)</td>
            </tr>
            <tr>
                <td>8h30</td>
                <td>9h</td>
                <td>9h30</td>
                <td>9h</td>
                <td>10h30</td>
                <td>11h</td>
                <td>11h30</td>
                <td>12h</td>
                <td>12h30</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
{% endblock %}