/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 déc. 2014, 16:46:02
    Author     : Didjo'BG
*/
div.page
{
    margin-left: auto;
    margin-right: auto;
    width: 1900px;
    height: 1090px;
}

div.header
{
    margin-left: auto;
    margin-right: auto;
    width: 1800px;
    height: 80px;
    text-align: center;
}

div.page-content
{
    margin-left: auto;
    margin-right: auto;
    width: 1900px;
    height: 1000px;
    background-image: url("../images/hiver_source.jpg");
    background-repeat: no-repeat;
}

div.formulaire
{
    position:absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 200px;
    margin-left: -100px; /* Cette valeur doit être la moitié négative de la valeur du width */
    margin-top: -100px;  /* Cette valeur doit être la moitié négative de la valeur du width */
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background:#D3D3D3;
}
div.login
{
    position:absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 100px;
    margin-left: -130px; /* Cette valeur doit être la moitié négative de la valeur du width */
    margin-top: -50px;  /* Cette valeur doit être la moitié négative de la valeur du width */
    text-align: center;
}

