/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 déc. 2014, 11:07:59
    Author     : Nizaru
*/

div.page
{
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    height: 800px;
    background:#aaa;
}

div.mainheader
{ 
    position:absolute;
    top: 10%;
    left: 15%;
    margin-left: -100px; /* Cette valeur doit être la moitié négative de la valeur du width */
    margin-top: -50px;  /* Cette valeur doit être la moitié négative de la valeur du width */
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 110px;
}

div.menu
{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 100px;
}

ul 
{
    font : bold 11px Batang, arial, serif;
    list-style-type : none;
    padding-bottom : 29px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans li */
    border-bottom : 1px solid #fff;
    margin-left : 0;
 }
 
li 
{
    float : left;
    height : 26px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #fff;
 }
 
ul li a 
{
    display : block;
    color : #666;
    text-decoration : none;
    padding : 7px;
 }
 
ul li a:hover 
{
    background : #fff;
 } 

div.header_logo
{
    position:absolute;
    width: 150px;
    height: 67px;
    margin-left: auto; /* Cette valeur doit être la moitié négative de la valeur du width */
    margin-top: auto;  /* Cette valeur doit être la moitié négative de la valeur du width */
    margin-right: auto;
    background-image: url("../images/logo.jpg");
}