/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 déc. 2014, 10:29:27
    Author     : Nizaru
*/

#menu
{
    background:#0f0;
    color:#fff;
    float:left;
    display:inline;
/*    margin-left: 175px;*/
}

#menu div
{
    width: 300px;
}

.menu
{
    position:relative;
}

#menu div a:link, #menu div a:visited, #menu div a:hover
{
    color:#fff;
    font-family:arial,sans-serif;
    font-size:20px;
    text-decoration:none;
    padding-top:3px;
    height:50px;
    display:block;
}

#menu div a:link, #menu div a:visited
{
    background:#404040;
}

#menu div a:hover, #menu div a:active, #menu div a:focus
{
    display:block;
    background:#ca0003;
}

ul li
{
     background:linear-gradient(#90C, #8600B3);
}

ul li a
{
     background: #666;
     transition: background 0.5s;
}

ul li a:hover
{
     background: transparent;
     transition: background 0s;
}

ul li:first-child
{
     border-radius: 0px 20px 0px 0px;
}

ul li:last-child
{
     border-radius: 0px 0px 20px 0px;
}
