/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 déc. 2014, 11:07:59
    Author     : Nizaru
*/

div.header_logo
{
    position:absolute;
    width: 150px;
    height: 67px;
    margin-left: auto;  //Cette valeur doit être la moitié négative de la valeur du width 
    margin-top: auto;   //Cette valeur doit être la moitié négative de la valeur du width 
    margin-right: auto;
    background-image: url("../images/logo.jpg");
}