/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 déc. 2014, 11:07:59
    Author     : Nizaru
*/

div.page
{
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    height: 800px;
    background:#aaa;
}

div.mainheader
{ 
    position:absolute;
    top: 10%;
    left: 15%;
    margin-left: -100px; /* Cette valeur doit être la moitié négative de la valeur du width */
    margin-top: -50px;  /* Cette valeur doit être la moitié négative de la valeur du width */
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 110px;
}

div.header_logo
{
    position:absolute;
    width: 150px;
    height: 67px;
    margin-left: auto; /* Cette valeur doit être la moitié négative de la valeur du width */
    margin-top: auto;  /* Cette valeur doit être la moitié négative de la valeur du width */
    margin-right: auto;
    background-image: url("../images/logo.jpg");
}