/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 déc. 2014, 11:54:49
    Author     : Nizaru
*/

*{
    margin:0;
    padding:0;
}

.page
{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    background: #FFFFFF
}

.page-content
{
    width: 950px;
    height: auto;
    box-shadow: 0 0 10px #aaa;
    background: #EEEEEE;
    float:left;
    display:inline;
    margin-left: 0px;
}
