/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 déc. 2014, 15:36:51
    Author     : Nizaru
*/

div.page
{
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    height: 800px;
    background:#aaa;
}