{% extends '::base_accueil.html.twig' %}
{% block body %}
    <div class="page">
        {% include ('PlanningUserBundle:Advert:menu.html.twig') %}
        <div id="bloc-rechercher">
            <form class="form" action="" method="post">
                <div class="recherche">
                    <input type="text" name="keyword" />
                    <button>ok</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}