{% extends '::base_admin.html.twig' %}
{% block body %}
    <div class="page">
        {% include ('PlanningUserBundle:Advert:header.html.twig') %}
        {% include ('PlanningUserBundle:Advert:admin_menu.html.twig') %}
        <div class="page-content">
            {#action="traitement.php"#}
            {#<div class="content">#}
            <table id="prof" class="display" cellspacing="0">
                <thead>
                    <tr>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Id User</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Id User</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for entity in Professeur %}
                        <tr>
                            <td>{{entity.prenom}}</td>
                            <td>{{entity.nom}}</td>
                            <td>{{entity.idprofesseur}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {#</div>#}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
    $(document).ready(function() {
    $('#prof').dataTable();
    } );
    </script>
{% endblock %}