{% extends '::base_admin.html.twig' %}
{% block body %}
    <div class="page">
        <div class="page-content">
            {#action="traitement.php"#}
            
            <table class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Id Promotion</th>
                        <th>Numéro de promotion</th>
                    </tr>
                </thead>
 
                <tfoot>
                    <tr>
                        <th>Id Promotion</th>
                        <th>Numéro de promotion</th>
                    </tr>
                </tfoot>
 
                <tbody>
                    {% for entity in Promotion %}
                        <tr>
                            <td>{{entity.idpromotion}}</td>
                            <td>{{entity.numPromotion}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <div class="formulaire-content">
                <form method="post" action="">
                    <fieldset>
                        <p>
                            <legend>Ajouter une Promotion</legend>
                            <label>Numéro de promotion</label>
                            <input type="text" style="width: 200px;"/> 
                            <br>
                            <br>
                            <input class="bt-annuler" type="submit" value="Annuler" />
                            <input class="bt-envoyer" type="submit" value="Envoyer" />
                        </p>
                    </fieldset>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}