{% extends '::base_admin.html.twig' %}
{% block body %}
    <div class="page">
        {% include ('PlanningUserBundle:Advert:header.html.twig') %}
        {% include ('PlanningUserBundle:Advert:admin_menu.html.twig') %}
        <div class="page-content">
            {#action="traitement.php"#}
            <table id="promo" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Id Promotion</th>
                        <th>Numéro de promotion</th>
                    </tr>
                </thead>
 
                <tfoot>
                    <tr>
                        <th>Id Promotion</th>
                        <th>Numéro de promotion</th>
                    </tr>
                </tfoot>
 
                <tbody>
                    {% for entity in Promotion %}
                        <tr>
                            <td>{{entity.idpromotion}}</td>
                            <td>{{entity.numPromotion}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>    
            <div class="gestion">
                <div class="creation">
                    {{ form(form) }}
                </div>
                <div class="suppression">
                    
                </div>
            </div>         
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
    $(document).ready(function() {
        $('#promo').dataTable();
        
        $('#promo tbody').on('click', 'tr', function () {
        var r = confirm("Voulez-vous supprimé cette promotion ?");
        if (r == true) {
            var tr = $(this).closest('tr');
            var idPromotion = tr.find("td:eq(0)").text();
            {#var DATA = $('td[id="cell_3"]').html();#}
            //var DATA = $(this).attr('id');
            //var DATA = $(this).parent().attr('id');
            //var DATA = document.getElementsByTagName('tr')[2].innerHTML;
            //alert(idPromotion);
            $.ajax({
            type: "GET",
            url: "{{ path('suppression_promo')}}",
            data: 'idpromotion=' + idPromotion,
            cache: false,
            timeout: 10000,
            success: function(data) {
              alert(data);},
            error: function() {
              alert('La requête n\'a pas abouti'); }
            });
        } else {
            x = "Cette promotion n'a pas été supprimé !";
            alert(x);
        }
    } );
    });
    </script>
{% endblock %}