{% extends '::base_admin.html.twig' %}
{% block body %}
    <div class="page">
        {% include ('PlanningUserBundle:Advert:header.html.twig') %}
        {% include ('PlanningUserBundle:Advert:admin_menu.html.twig') %}
        <div class="page-content">
            {#action="traitement.php"#}
            <table id="site" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Libellé</th>
                        <th>Adresse</th>
                        <th>Itinéraire</th>
                    </tr>
                </thead>
 
                <tfoot>
                    <tr>
                        <th>Libellé</th>
                        <th>Adresse</th>
                        <th>Itinéraire</th>
                    </tr>
                </tfoot>
 
                <tbody>
                    {% for entity in Site %}
                        <tr>
                            <td>{{entity.libelle}}</td>
                            <td>{{entity.adresse}}</td>
                            <td><a href="https://www.google.fr/maps/dir/17+Rue+Linn%C3%A9,+Paris/3+Rue+des+Trois+Bornes,+75011+Paris/">Itinéraire</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="gestion">
                <div class="creation">
                    {{ form(form) }}
                </div>
                <div class="suppression">
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
    $(document).ready(function() {
    $('#site').dataTable();
    } );
    </script>
{% endblock %}