{% block body %}
        <div id="haut">
            <div class="header_logo"></div>
            <div class="deconnexion">
                <a href="{{ path('fos_user_security_logout') }}">
                    <input  type="submit" class="arrondi" value="" />
                </a>
            </div> 
        </div>
{% endblock %}