{# empty Twig template #}
{% extends '::base.html.twig' %}
{% block body %}
            <div class="header_logo"></div>
                <div class="menu">
                    <ul>
                        <li>
                            <a href="/Accueil">
                                Accueil
                            </a>
                        </li>
                        <li>
                            <a href="/MonProjetPhp/Planning/web/app_dev.php/Planning">
                                Planning
                            </a>
                        </li>
                        <li>
                            <a href="/Notes">
                                Notes
                            </a>
                        </li>
                        <li>
                            <a href="/Absence">
                                Absence
                            </a>
                        </li>
                    </ul>
                </div>
{% endblock %}
