{# empty Twig template #}
{% extends '::base_accueil.html.twig' %}
{% block body %}
            <div class="header_logo"></div>
                <div class="menu">
                    <ul>
                        <li>
                            <a href="{{ path('home') }}">
                                Accueil
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('planning') }}">
                                Planning
                            </a>
                        </li>
                        <li>
                            <a href="/Notes">
                                Notes
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('logout') }}">
                                Déconnection
                            </a>
                        </li>
                    </ul>
                </div>
{% endblock %}
